.inputs {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
}

::placeholder {
  color: rgb(57, 54, 54);
  font-size: 15px;
  transition: opacity 0.2s linear;
}

:focus::placeholder {
  opacity: 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.inputsForm {
  display: flex;
  margin: 10px;
  padding: 5px;
  width: 100%;
  line-height: 30px;
  border-width: 1px;
  border-radius: 6px;
}

.button {
  margin: 20px;
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  background-color: rgb(232, 225, 225);
  box-shadow: 3px 3px gray;
  transition: all 200ms linear;
}

.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  transition-duration: 0.2s;
  background-color: gray;
  color: white;
  box-shadow: 3px 3px black;
}
