.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;

    border-bottom: 1px solid rgba(102, 102, 102, 0.2);
}

.containerImg {
    display: flex;
    align-items: center;
    gap: 55px
}

.containerImg>img {
    width: 104px;
    height: 104px;
}

.containerImg>h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    width: 270px;
}

.action {}

.action>img {
    width: 40px;
    height: 40px;
    margin-right: 100px;
}