.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.containerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.containerImg>img {
    width: 200px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 8px;
}

.links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
}

.links>img {
    height: 25px;
    width: 25px;
}

.footer>p {
    text-align: center;
    font-size: 8px;
}