.container-home {
    width: 100vw;
    height: 100vh;
}

.container-sidebar {
    width: 250px;
    height: 100vh;
    background-color: #FFFF
}

.logo-sidebar {
    text-align: center;
    margin-bottom: 20px;
}

.logo-sidebar>img {
    width: 200px;
    margin-top: 20px;
}

.inputs-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs-sidebar> {
    margin-top: 10px;
}

button>img {
    height: 25px;
    width: 25px;
}

button {
    background-color: #FFFF;
    border: none;
    cursor: pointer;
}

.footer-sidebar {
    display: flex;
    align-content: flex-end;
}